{% extends 'base.html' %}

    {% block title %} Homepage {% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        {{ user.first_name }} {{ user.last_name }}
        <a href="{% url 'logout' %} role="button" class="btn btn-outline-primary" ">Logout</a>
<br>
                                 <a href="{% url 'article_list' %}" role="button" class="btn btn-outline-primary">Postlarni ko'rish</a>
    {% else %}
        <h2 align="center">Tizimga Kirmagansiz</h2>
    <center>
        <a href="{% url 'signup' %}" align="center">Sign Up </a> <br>
        <a href="{% url 'login' %}" align="center">Log in</a>
    </center>
    {% endif %}
{% endblock content %}